[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.1.x.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

package-name = plone.mls.listing
package-extras = [test, fotorama]
test-eggs = Pillow
parts +=
    createcoverage

allow-hosts +=
    httplib2.googlecode.com


versions = versions

extensions += mr.developer

sources-dir = checkouts
auto-checkout = *


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[sources]
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
ps.plone.fotorama = git git://github.com/propertyshelf/ps.plone.fotorama.git


[versions]
plone.api = 1.2.1
plone.app.testing = 4.2.2

# Required by plone.app.dexterity >= 2.0
z3c.form = 3.0.0a3
plone.app.z3cform = 0.7.2
collective.z3cform.datetimewidget = 1.2.3
