/* Listing Detail page.
   ====================
*/
.listing #listing-info {
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.listing #listing-info dl {
  border-bottom: 1px dotted #CCC;
  margin: 0.5em 0;
  overflow: hidden;
  padding: 0.5em 0;
  word-wrap: break-word;
}

.listing #listing-info dt {
  clear: both;
  display: inline;
  float: left;
  margin-right: 5%;
  width: 35%;
}

.listing #listing-info dd {
  display: inline;
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 60%;
}

.listing #listing-images {
  float: left;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  width: 412px;
}

.listing #listing-details,
.listing ul.formTabs {
  clear: both;
}

/* Table-like listing summary.
   ===========================
*/
#content .listing-summary figure {
  float: left;
  margin-right: 3%;
  width: 22%;
}

#content .listing-summary figure a {
  border: 1px solid #D5D5D5;
  display: block;
  padding: 3%;
}

#content .listing-summary figure img {
  width: 100%;
}

#content .listing-summary figure figcaption {
  display: none;
}

#content .listing-summary section {
  float: left;
  width: 75%;
}

#content .listing-summary dt {
  float: left;
  margin: 0 3% 0 0;
  width: 22%;
}

#content .listing-summary dt.row {
  clear: both;
}

#content .listing-summary dd {
  float: left;
  margin: 0 3% 0 0;
  width: 22%;
}

#content .listing-summary dd.full {
  float: left;
  margin: 0;
  width: 75%;
}

/* AgentInformation Portlet
   ========================
*/
.portletAgentInformation .portletItem figure img {
  max-width: 100%;
}

.portletAgentInformation .portletItem figure figcaption {
  display: none;
}

.portletAgentInformation .portletItem .agent_title,
.portletAgentInformation .portletItem .agency_name {
  font-weight: bold;
  margin-bottom: 0;
}

.portletAgentInformation .portletItem .contact_details {
  margin-top: 1em;
  word-wrap: break-word;
}

.portletAgentInformation .portletItem .contact_details dt {
  background: transparent;
  clear: both;
  float: left;
  margin: 0 3% 0 0;
  padding: 0.42em 0;
  width: 37%;
}

.portletAgentInformation .portletItem .contact_details dd {
  float: left;
  margin: 0;
  padding: 0.42em 0;
  width: 60%;
}
